.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}


.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 50px auto;
}

.drum-pad {
  border: 1px solid #2f2f2f;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px #2f2f2f;
  transition: all 0.2s ease-in-out;
}

.drum-pad:active {
  transform: translate(4px, 4px);
}